# This is a basic workflow to help you get started with Actions
name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          
      - name: Maven Build
        run: |
          cd my-app
          mvn versions:set -DnewVersion=0.0.${{ github.run_number }}
          mvn -B  clean package 
          mkdir artifact && cp target/*.jar artifact
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: my-app
          path: my-app/artifact
          
      - name: Build and push Docker images
        run: |
          docker build ./my-app -f Dockerfile --build-arg PATCH_VERSION=${{ github.run_number }} -t jonyjalfon94/my-app:1.0.${{ github.run_number }}

