
name: maven-hello-word

on:
  
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  
  workflow_dispatch:
jobs:
  
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Update version
        shell: pwsh
        run: | 
            $xmlFileName = "D:\a\maven-hello-world\maven-hello-world\my-app\pom.xml"
            [xml]$xmlDoc = Get-Content $xmlFileName
            $xmlDoc.project.version = "1.0.1-SNAPSHOT"
            $xmlDoc.Save("D:\a\maven-hello-world\maven-hello-world\my-app\pom.xml")
            write-host $xmlDoc.project.version
            
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
         java-version: '8'
         distribution: 'adopt'
         
      - name: Build with Maven
        working-directory: D:\a\maven-hello-world\maven-hello-world\my-app
        run: mvn package
        
      - name: Copy Docker file
        shell: cmd
        run: xcopy "D:\a\maven-hello-world\maven-hello-world\my-app\Dockerfile" "D:\a\maven-hello-world\maven-hello-world\my-app\target"
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: maven-hello-word-artifact
          path: D:\a\maven-hello-world\maven-hello-world\my-app\target
          retention-days: 30
          
  build_and_push_Docker:
   needs: [build]
   runs-on: ubuntu-latest
   
   steps:
     - name: Login to Docker Hub
       uses: docker/login-action@v1
       with: 
         username: ${{ secrets.DOCKER_HUB_USERNAME }}
         password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
       
     - name: Set up Docker Buildx
       id: buildx
       uses: docker/setup-buildx-action@v1
       
     - name: Build and push
       id: docker_build
       uses: docker/build-push-action@v2
       with:
         context: ./
         file: ./Dockerfile
         push: true
         tags: ${{ secrets.DOCKER_HUB_USERNAME }}/maven-hello-word:1.0.1-SNAPSHOT
         
     - name: Image digest
       run: echo ${{ steps.docker_build.outputs.digest }}
